@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/

  
  header{
    background-color: rgb(255, 255, 255);
  
  }
  
  .kasira { 
    font-size: 9px;
    width: 400px;
    margin-left: 4px;
    margin-right: auto;
    display: flex;
    align-items: center;
   
  }
  
  .kasira p {
    font-size: 15px;
    padding-left: 20px;
  }
  
  .kasira ul {
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .kasira > ul {
    list-style-type: none;
  
  }
  
  body {
    margin: 0;
    font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  }
  
  .back {
    background-image: url(top.png);
  }
  
  .back img {
    margin: 0;
    padding: 400px;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
  }
  
  h2 {
    font-size: 45px;
    padding-top: 40px;  
    width: 180px;
    color: rgb(89, 128, 255);
    margin-right: auto;
    margin-left: auto;
    border-bottom: solid 2px rgb(89, 128, 255);
  }
  
  .jimu {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.8;
  
  }
  
  
  .tori h2 {  
    margin-top: 200px;
    width: 450px;
  
  }
  
  .tori {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.8;
    margin-bottom: 100px;
  }
  
  footer {
    background-color: rgb(92, 92, 92);
    color: white;
    padding: 30px;
    font-size: 13px;
  }
  
  h3 {
    margin-top: 6px;
  }
  
  footer p {
    margin: 0;
  }
  
  .as {
    line-height: 1;
    display: flex;
    padding-bottom: 30px;
  }
  

}  
